<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>실습2. axios post 로그인</title>
  <!-- axios cdn -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <style>
    input {
      width: 300px;
      height: 40px;
      margin-bottom: 10px;
    }

    .success {
      color: blue;
      font-weight: 700;
    }

    .error {
      color: red;
      font-weight: 700;
    }
  </style>
</head>

<body>
  <div style="width: 500px; height:700px; border:1px solid #898989; margin:100px auto;">
    <div style="text-align: center;">
      <h1 class="logo" style="margin-top: 200px;">Naver</h1>
      <form name="login">
        <div>
          <input type="text" id="userId" name="id">
        </div>
        <div>
          <input type="text" id="userPw" name="pw">
        </div>
      </form>
      <div class="result"></div>
      <button onclick="login()" style="width: 300px; height:60px; background-color:green
    ; color:white; font-size: 18px; border-radius: 10px;">로그인</button>
    </div>
  </div>

  <script>
    const result = document.querySelector('.result');

    function login() {
      const form = document.forms['login'];
      const input = document.querySelector('input')
      const data = { //서버에 보낼 데이터값
        id: form.id.value,
        pw: form.pw.value
      }

      // form validation
      if (!form.id.checkVaildity() || !form.pw.checkVaildity()) {
        result.textContent = '아이디와 패스워드는 필수값입니다!';
        return;
      }

      // 서버로 요청 보내기 > 서버로 보냄
      axios({
        method: 'post',
        url: '/axios',
        data: data
      }).then((response) => {
        console.log('response.data', response.data); // res.send 넘겨준 값?!
        if (response.data.isSuccess) {
          // 로그인 성공
          loginResult.textContent = `${response.data.userInof.id}님! 로그인 성공`
          loginResult.classList.remove('error');
          loginResult.classList.add('success');
        } else {
          loginResult.textContent = '아이디 또는 패스워드가 잘못됐습니다.'
          loginResult.classList.remove('success');
          loginResult.classList.add('error');
        }

      }).catch((err) => {
        result.textContent = '에러 발생'
      })

      input.value = '';
    }
  </script>
</body>

</html>